langchain_google_genai
langchain_core
streamlit
load_dotenv
python-dotenv
langchain_community
fastAPI
langserve
uvicorn
sse_starlette
ipykernel
bs4
pypdf
chromadb
faiss-cpu
google-generativeai
arxiv
wikipedia
langchain-groq